@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Title)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                
            </td>
        </tr>
}
    </tbody>

